/* this styles the main title*/
h1 {
    color:blue;
    font-family: arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    }
/* this styles the headings*/
    h2 {
        color: navy;
        
        }
